/*==========================================================================*/
/*                                M A I N                                   */
/*==========================================================================*/

.text-aos {
    margin-top: 1000px;
    font-size: 30px;
    color: blue;
    position: relative;
    transition: all 0.3s ease;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    color: red;

    &::before {
        content: "";
        @include pos-full;
        background-color: blueviolet;
        transition: all 1.2s ease;
        right: 0;
        left: unset;
    }

    &.aos-animate {
        color: red;
        &::before {
            width: 0;
        }
    }

    &2 {
        margin-top: 1000px;
    }

    &3 {
        margin-top: 1000px;
    }
}

.idx_b08_ttl {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 59px;
    line-height: 3;
}

.idx_b08_txt {
    background: wheat;
    font-size: 28px;
    font-weight: bold;
    padding: 14px 20px 10px;
    margin-bottom: 20px;
    letter-spacing: 0.04em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.index-visual{
    height: 600px;
    background-color: wheat;
}

.btns-fix{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: salmon;
    transition: all .3s ease;
    @include hidden;
    z-index: 98;
    &.--active{
        @include visible;
    }
}

#main{
    margin-top: 100px;
}