/*==========================================================================*/
/*                              F O O T E R                                 */
/*==========================================================================*/

#footer {}

address {
    padding: 14px 0;
    text-align: center;
    color: #fff;
    background: $main-cl;
    font-size: 11px;
    letter-spacing: 0.005em;
}