/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/

@media screen and (min-width: 1px) and (max-width: 750px) {
    #wrapper {
        min-width: unset !important;
    }

    .pc {
        display: none !important;
    }

    .container {
        width: 100%;
    }

    #main {
        margin-top: 70px;
    }

    .no-scroll {
        overflow: hidden;
    }

    .open-nav {
        .header-menu {
            top: 70px;
        }
    }

    .hamburger-btn {
        display: block;
    }

    .top-to {
        bottom: 100px;
        right: 15px;
    }

    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6,
    // input,
    // button,
    // textarea,
    // select,
    // p,
    // blockquote,
    // th,
    // td,
    // pre,
    // address,
    // li,
    // dt,
    // dd,
    // a {
    //     font-size: 140%;
    // }

    //  ========================== Header ==========================
    #header {
        height: 70px;
        padding: 10px 0;
        h1 {
            display: none;
        }
        .container {
            height: 100%;
        }
    }
    .header-menu {
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        transition: all 0.3s ease;
        z-index: 99;
        background-color: rgba($color: #1e2c63, $alpha: 0.7);
        background-color: #fff;

        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 70px);
        padding-bottom: 100px;
    }

    .menu-list {
        display: block;

        // style chung
        // a {
        //     padding: 10px 20px;
        // }

        // level 1
        > li {
            > a,
            > span {
                border-bottom: 1px solid #ebebeb;
                font-size: 14px;
                font-weight: bold;
                color: #004680;
                padding: 10px 20px;
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }

    .dropdown {
        .open {
            &::before {
                transform: scale(-1);
            }
        }

        span {
            &::before {
                content: "";
                border-top: solid 8px #1e2c63;
                border-left: solid 8px transparent;
                border-right: solid 8px transparent;
                position: absolute;
                right: 15px;
                top: calc(50% - 4px);
                transition: all 0.3s;
            }
        }
    }

    .sub-menu {
        position: relative;
        top: 0;
        left: 0;
        display: none;
        padding: 10px 20px;

        a,
        span {
            padding: 6px 16px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 10px;
                height: 1px;
                background-color: #004680;
            }
        }

        // .sub-menu a {
        //     padding-left: 30px;
        // }

        // .sub-menu .sub-menu a {
        //     padding-left: 40px;
        // }
    }
    //  ========================== END - Header ==========================
}

/* END min-width:1px && screen-max:750px */

@media screen and (min-width: 375px) and (max-width: 750px) {
    .sp320 {
        display: none;
    }
}

/* END min-width:375px && screen-max:750px */

@media screen and (min-width: 425px) and (max-width: 750px) {
    .sp375 {
        display: none;
    }
}

/* END min-width:425px && screen-max:750px */

@media screen and (min-width: 525px) and (max-width: 750px) {
    .sp425 {
        display: none;
    }
}

/* END min-width:525px && screen-max:750px */

/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/

/* EDGE  */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
}

/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/
