/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/

@media screen and (min-width: 1px) and (max-width: 750px) {
    .image-l,
    .image-r {
        float: none;
        text-align: center;
        margin: 0 0 25px;
    }

    .main-under {
        // h1,
        // h2,
        // h3,
        // h4,
        // h5,
        // h6,
        // input,
        // button,
        // textarea,
        // select,
        // p,
        // blockquote,
        // th,
        // td,
        // pre,
        // address,
        // li,
        // dt,
        // dd,
        // a {
        //     font-size: 140%;
        // }
    }

    // ======================== table ========================
    .under-tbl {
        tr {
            th + td {
                border-top: none;
            }
            &:not(:first-child) th {
                border-top: none;
            }
        }
    }

    .tbl-block {
        display: block;
        thead,
        tbody,
        tr,
        td,
        th {
            display: block;
            width: 100%;
        }
    }

    .tbl-note {
        font-size: 12px;
        opacity: 0.6;
    }

    .tbl-scroll {
        overflow: auto;
        table {
            min-width: 749px;
        }
    }

    // ======================== under style ========================
    .under-clm {
        dl {
            &:not(:last-child) {
                border-bottom: none;
            }
        }
    }

    // ======================== content ========================
    .main-under {
        #content {
            padding: 30px 15px 50px;
        }
    }
}

/* END min-width:1px && screen-max:750px */

@media screen and (min-width: 375px) and (max-width: 750px) {
    .sp320 {
        display: none;
    }
}

/* END min-width:375px && screen-max:750px */

@media screen and (min-width: 425px) and (max-width: 750px) {
    .sp375 {
        display: none;
    }
}

/* END min-width:425px && screen-max:750px */

@media screen and (min-width: 525px) and (max-width: 750px) {
    .sp425 {
        display: none;
    }
}

/* END min-width:525px && screen-max:750px */

/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/

/* EDGE  */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
}

/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/
